body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

form button.btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button.btn:hover {
    background-color: #218838;
}

.home-button {
    background-color: #ffffff;
    text-decoration: none;
    margin-left: 900px; 
    justify-content: center; 
    margin: 0px; 
    display: flex;
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 10px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #a8a8a8;
}