.task-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task-card {
    border: 1px solid #38A433	;
    padding: 10px;
    width: calc(33.33% - 20px); /* Ширина карточки, например, 33% с учетом отступов */
    background-color: #B9FEB5	;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.task-card h3 {
    margin-top: 0;
}

.task-card p {
    margin: 0;
}

.task-title {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.task-title:hover {
    color: #3c3d3f;
}

.task-button {
    background-color: #2779a7; 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    border-radius: 5px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.task-button:hover {
    color: #3c3d3f;
    background-color: #226c97; 
}

.task-status {
    color: rgb(0, 0, 0);
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.container {
    max-width: 800px;
    margin-left: 500px;
}

.container_2 {
    max-width: 800px;
    margin: auto;
}
.card {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}
.card-title {
    font-weight: bold;
    color: #343a40;
}
.card-text {
    color: #6c757d;
}
.media-content img, .media-content video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.add-comment form {
    background-color: #f8f9fa;
    border-radius: 10px;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
} 
.complete-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 200px;
    margin-right: 200px;

}

.background {
    background-color: #49c5b6;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 50px;
    height: 930px;
}