.task-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.task-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px); /* Ширина карточки, например, 33% с учетом отступов */
}

.task-card h3 {
    margin-top: 0;
}

.task-card p {
    margin: 0;
}